:local(.dashboard) {
  height: 100vh;

  display: grid;
  width: 100%;
  grid-template-areas: "head head"
                       "nav main";
  grid-template-rows: 75px 1fr;
  grid-template-columns: min-content 1fr;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: head;
    color: white;
    background: black;  
  }

  .hamburger {
    font-size: 2.5em;
    position: absolute;
    left: 0;
    margin-left: 2vw;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  button:focus {outline:0;}

  .pointer {cursor: pointer;}

  main {
    grid-area: main;
  }
  #nav-bar {
    grid-area: nav;
  }
} 