:local(.essays) {
  background: grey;
  ul {
    padding: 0;
    list-style-type: none;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  p {
    padding: 2vw;
    font-size: 1.5em;
  }

  p:hover {
    width: 100%;
    background: green;
  }
}